<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.lihaoyun6.AirBattery</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>airbattery</string>
			</array>
		</dict>
	</array>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>Scriptable</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/lihaoyun6/AirBattery/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>dP6zY7RAyK3DtV/dDrQ2V2dB0BY36jADwMKHZIX89u4=</string>
</dict>
</plist>
